{% extends 'base.html.twig' %}

{% block title %}Mon compte Agro-fournitures{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue dans votre compte {{app.User.Prenom}} {{app.User.Nom}} ! <br>
Gérez dans cet espace vos informations personnelles
<hr>
<a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br/>
{% endblock %}
